/src/Touchdown.Win.UI/bin
/src/Touchdown.Win.UI/obj

/*.suo
/*.suo
/src/Touchdown.Core/bin
/src/Touchdown.Core/obj
/src/Touchdown.MicrosoftSDK/bin
/src/TouchdownUI/bin
/src/TouchdownUI/obj
/test/TouchdownTests/obj
/test/TouchdownTests/bin
/src/Tochdown.Freenect/bin
/src/Tochdown.Freenect/obj
/src/Touchdown.MicrosoftSDK/obj

/test/TouchdownTests/TouchdownTests.csproj.user

/doc/Touchdown.Doc/Touchdown.Doc.v11.suo
/src/Touchdown.Core/Touchdown.csproj.user
/src/Touchdown.MicrosoftSDK/Touchdown.MicrosoftSDK.csproj.user
/src/Touchdown.Win.UI/Touchdown.Win.UI.csproj.user
